{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>

  <title>INITIATIVES</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap-reboot.css' %}">
  <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap-grid.css' %}">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Poppins|Rubik" rel="stylesheet">
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

  <style media="screen">
    * {
      font-family: Poppins;
    }
  </style>

</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top " style="font-family:Poppins;">

    <a class="navbar-brand" href="/"> <img src="{% static 'img/edcpng.png' %}" alt="Mountain View" style="width:120px;height:40px;">   </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto ">
        <li class="nav-item active ">
          <a class="nav-link home-nav" href="/">Home   <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item ">
          <a class="nav-link aboutus-anim" href="/about_us">About Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link init-anim" href="/initiatives">Initiatives</a>
        </li>
        <li class="nav-item">
          <a class="nav-link events-anim" href="/events">Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link con-anim" href="/contactus">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>


  <div class="container">
    <h4 class="display-4 text-center mt-5 head-anim">
      <strong><u>INITIATIVES</u></strong>
  </h4>



    <div class="container">


      <div class="row">

        <div class="col-md-5">

          <img class="d-flex mr-3 mt-5 pimg-anim" src="{% static 'img/scootywala1.png' %}" height="150px" width="300px" alt="Generic placeholder image">
        </div>

        <div class="col-md-6 pm-anim">

          <h5 class="mt-5 pt-4"><strong><u>SCOOTYWALA</u></strong></h5>
          <p>Travelling to new places give rise to numerous problems, and ScootyWala makes sure that traveling isn’t one of them. ScootyWala is the solution for personal transport in Pune at very reasonable rates. No need to haggle for fare or struggle in
            public transport any more. Rent your personal vehicle and ride your way for, ScootyWala is just a phone-call away! ScootyWala provides self-drive two wheelers on hourly as well as on daily basis for travel in and out of the city. Affordable
            cost, time flexibility, and easy pickups are the secret for the smooth functioning of ScootyWala. </p>




        </div>
      </div>


      <div class="row">

        <div class="col-md-5">

          <img class="d-flex mr-3 pt-5 mt-5 pimg-anim" src="/static/img/startup/discover.png" height="250px" alt="Generic placeholder image">
        </div>

        <div class="col-md-6 pm-anim">

          <h5 class="mt-5 pt-5 "><strong><u>DISCOVER ED</u></strong></h5>
          <p>DiscoverED, a startup by Saurabh Jain and Gagan, students of College of Engineering, Bharati Vidyapeeth University, is a peer to peer learning platform. It aims at providing the right motivation, attitude, vision, and guidance to develop interest
            and mould talent along the right direction. DiscoverED is a platform where one can meet mentors for their particular field of interests. Be it dancing, arts, photography, singing, content writing, sports, technical knowledge, etc. The mentors
            have a vast experience in their particular field and are thus chosen rightfully considering their achievements and capabilities. They are talented and are full of spirit to guide you and to bring out the best in you. “ If you only do what
            you know you can – you will never do very much.”
          </p><br><br><br><br>




        </div>
      </div>


      <div class="row">

        <div class="col-md-5">

          <img class="d-flex mr-3 mt-4 pimg-anim" src="/static/img/htsi.jpg" height="250px" alt="Generic placeholder image">
        </div>

        <div class="col-md-6 pm-anim">

          <h5 class="mt-3 pt-3"><strong><u>HOW TO SAY IT</strong></u></h5>
          <p>*How to 'say' it* is an idea driven into action, taking in account the fear of almost every student who is struggling with common problems like fear of speaking, discussion in public etc. Here we tend to drive away the fears of speaking out
            our thoughts, improving the diction, vocabulary, confidence and grammar of every participant through perfectly programmed sessions, which are conducted every week. The idea was originated by Akshay Jain, who is an engineering student at Bharati
            Vidyapeeth University, and also an avid speaker, poet and a great anchor. When the idea came into existence, it quickly spread throughout the campus due to the amount of interest received by the students. Activities include speeches, group
            Discussion, debate, review, error rectification and other various activities.</p><br><br><br><br><br>




        </div>
      </div>


      <div class="row">

        <div class="col-md-5">

          <img class="d-flex mr-3 mt-5 pimg-anim" src="{% static 'img/tutpros.jpg' %}" height="250px" alt="Generic placeholder image">
        </div>

        <div class="col-md-6 pm-anim">

          <h5 class="mt-3 pt-3"><strong><u>TUTOR PROS</strong></u></h5>
          <p>Tutor Pros is a startup firm to get you about the site and who are we. So, lets begin with the fact that why we’ve made this site. It’s we who’ve felt the heat of the things that became almost impossible to receive in our daily lives, especially
            the study materials that we went wayward into things that got to us a lot of extra bucks to spend and then at last, we’re reaching almost nowhere in our quest for knowledge. Since, we felt this hell of fire on our face in the quest of finding
            an ultimate solution of the problems related to your engineering academics, we’ll not let you do the folly that we did. So, we’ve brought a site that’ll not only bring you close to your solutions but also bring you in contact with the pros
            who’ll tutor you in a way that you’ll be in the driving seat in the ergonomics of the world of engineering academics.</p>




        </div>
      </div>


    </div>

  </div>




  <!-- link this footer file on every page  -->

  <footer style="background-color:#151515;">
    <div class="container mb-3 ">
      <div class="row mt-3">
        <div class="col-md-3 col-xs-3 mt-4">
          <a href="/"><img src="{% static 'img/edc-white.png' %}" height="40px" width="120px"  ></a><br><br>
          <p style="color:white;"> Bhararti Vidyapeeth University,<br> College of Engineering,<br> Pune-411043.
          </p>
        </div>

        <div class="col-md-3 col-xs-3 mt-3 hello">

          <h4 style="color: white">Main</h4><br>
          <a href="/" style="color:white;">Home</a><br>
          <a href="/about_us" style="color:white;">About Us</a><br>
          <a href="/contactus" style="color:white;">Contact Us</a><br>
          <a href="/initiatives" style="color:white;">Initiatives</a><br>

        </div>

        <div class="col-md-3 col-xs-3 mt-3 hello">
          <h4 style="color: white">Events</h4><br>
          <a href="/events" style="color:white; font-family:Poppins;">Startup Conclave</a><br>
          <a href="/events" style="color:white; font-family:Poppins;">SEC 17</a><br>
          <a href="/events" style="color:white; font-family:Poppins;">E-Summit</a><br>
          <a href="/events" style="color:white; font-family:Poppins;">Internstellar</a><br>
        </div>

        <div class="col-md-3 col-xs-3 mt-3 hello">
          <h4 style="color: white">Social</h4><br>
          <ul class="nav justify-content-start">
            <li class="nav-item"><a href="#" class="nav-link pr-0"><i class="fa fa-facebook fa-lg"></i></a></li>
            <li class="nav-item"><a href="#" class="nav-link pr-0"><i class="fa fa-google-plus fa-lg"></i></a></li>
            <li class="nav-item"><a href="#" class="nav-link pr-0"><i class="fa fa-instagram fa-lg"></i></a></li>
            <li class="nav-item"><a href="#" class="nav-link pr-0"><i class="fa fa-twitter fa-lg"></i></a></li>
            <li class="nav-item"><a href="#" class="nav-link pr-0"><i class="fa fa-pinterest-p fa-lg"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
    </div>
    </div>
    <div class="container-fluid mt-2" style="background-color: #020202">
      <div class="row">
        <p class="text-center container" style="color: white;">
          Entrepreneurship Development Cell <br> Bharati Vidyapeeth University College of Engineering, Pune (INDIA)
        </p>
      </div>
    </div>
  </footer>

  <script>
    window.sr = ScrollReveal();
    // ScrollReveal for the navigation bar
    // animation for the whole navigation bar
    sr.reveal('.navbar', {
      duration: 1000,
      origin: 'bottom',
      mobile: true,
      reset: true,
      viewFactor: 0.2
      // easing: 'cubic-bezier(0.6, 0.2, 0.1, 1)',
    });
    // animating the component of the navigation bar each at a time using some delay
    // animation for the home button
    sr.reveal('.home-nav', {
      duration: 700,
      delay: 00,
      distance: '300px',
      origin: 'right',
      reset: true,
      mobile: true,
      reset: true,
      viewFactor: 0.2
    });
    // animation for the about us button
    sr.reveal('.aboutus-anim', {
      duration: 1500,
      delay: 50,
      distance: '300px',
      origin: 'right',
      mobile: true,
      reset: true,
      viewFactor: 0.2
    });
    //for the initiatives tab
    sr.reveal('.init-anim', {
      duration: 1500,
      delay: 100,
      distance: '300px',
      origin: 'right',
      mobile: true,
      reset: true,
      viewFactor: 0.2
    });
    //Events tab
    sr.reveal('.events-anim', {
      duration: 1500,
      delay: 150,
      distance: '300px',
      origin: 'right',
      mobile: true,
      reset: true,
      viewFactor: 0.2
    });
    //Contacts tab
    sr.reveal('.con-anim', {
      duration: 1500,
      delay: 200,
      distance: '300px',
      origin: 'right',
      mobile: true,
      reset: true,
      viewFactor: 0.2
    });
    // animation for the SLIDER
    sr.reveal('.slide-anim', {
      duration: 3000,
      origin: 'bottom',
      reset: true
    });
    //animation for principal's Message and the founders meassage
    sr.reveal('.pm-anim', {
      duration: 1000,
      origin: 'right',
      distance: '300px',
      viewFactor: 0.2,
      reset: true
    });
    sr.reveal('.pimg-anim', {
      duration: 1000,
      origin: 'left',
      distance: '300px',
      reset: true
    });
    // putting the same animation to the same heading
    sr.reveal('.head-anim', {
      duration: 1000,
      origin: 'bottom',
      reset: true,
      mobile: true,
      reset: true,
      viewFactor: 0.2
    });

    sr.reveal('.showcase-btn', {
      duration: 1500,
      delay: 250,
      origin: 'bottom',
      reset: true,
      mobile: true,
      viewFactor: 0.2
    });
    sr.reveal('.quote', {
      duration: 2000,
      delay: 500,
      origin: 'bottom',
      reset: true
    });
  </script>

  <script type="js/bootstrap.js"></script>
</body>

</html>
